ion-content{
    --background: rgb(0, 0, 0);
}

.logo{
    width: 55%;
    height: 24%;
    margin-left: 24%;
    margin-top: 30%;
}

.btn_1{
    --background: rgba(255, 255, 255, 0); 
    color: #ffffff;
    margin-left: 21%;
    margin-top: 20%;
    height: 6%;
    width: 60%;
    font-size: 100%;
    border: 5px solid #fcd709;
    border-radius: 15px;
}

.p_1{
    color:#ffffff;
    font-family: 'arial black';
    font-size: 175%;
    margin-left: 46%;
    margin-top: 5%;
}

.btn_2{ 
    color: #ffffff;
    margin-left: 21%;
    margin-top: 0%;
    height: 6%;
    width: 60%;
    font-size: 100%;
    border: 5px solid #fcd709;
    border-radius: 15px;
    --background: rgba(255, 255, 255, 0); 
}