ion-content{
--background: rgb(0, 0, 0);
}

.logo{
  width: 65%;
  height: 30%;
  margin-left: 18%;
  margin-top: 40%;
}

.circlo{
  width: 70px;
  height: 70px;
  color: white;
}

.circlo2{
  margin-top: 50%;
  margin-left: 40%;
}